 <head>
        <title>IMAP</title>
        <link rel="stylesheet" href="..\..\public\css\styles.min.css">
</head>
<body>
  <div class="centered-form">
    <div class="centered-form__box">
    <center>  <h1>IMAP</h1> </center>
      <center>    
        <form method="post" action="/log">
        
          <label>Mail</label>
            <input type="text" name="mail" placeholder="mail" id="mail" required>
            <br>
          <label>Password</label>
            <input type="password" name="password" placeholder='password' id="password" required><br>
          <label>Serveur mail (imap) (ex: imap.gmail.com, imap-mail.outlook.com, outlook.office365.com)</label><br>
            <input type="server" name="server" placeholder='server' id="password" required>  <br>
           <button type="submit">Submit</button>
        </form>
        </center>        
    <div>
  </div>
</body>