<head>
  <title>Imap</title>
  <link rel="stylesheet" href="css/styles.min.css" />
</head>
<body>
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Les informations se situe dans vos logs</h1>
    </div>
  </div>
</body>